@import '@ciscodesignsystems/cds-magnetic-theme-web/css/dist/token-theme-light-variables.css';
@import '@ciscodesignsystems/cds-react-button/index.css';
@import '@ciscodesignsystems/cds-react-container/index.css';
@import '@ciscodesignsystems/cds-react-flex/index.css';
@import '@ciscodesignsystems/cds-react-skeleton/index.css';
@import '@ciscodesignsystems/cds-react-text-input/index.css';
@import '@ciscodesignsystems/cds-react-textarea/index.css';
@import '@ciscodesignsystems/cds-react-card/index.css';
@import '@ciscodesignsystems/cds-react-sticky-bar/index.css';
@import '@ciscodesignsystems/cds-react-notification/index.css';
@import '@ciscodesignsystems/cds-react-toaster/index.css';
@import '@ciscodesignsystems/cds-react-table/index.css';
@import '@ciscodesignsystems/cds-react-drawer/index.css';
@import '@ciscodesignsystems/cds-react-checkbox/index.css';
@import '@ciscodesignsystems/cds-react-tag/index.css';
@import '@ciscodesignsystems/cds-react-tooltip/index.css';
@import '@ciscodesignsystems/cds-react-dropdown/index.css';
@import '@ciscodesignsystems/cds-react-select/index.css';
@import '@ciscodesignsystems/cds-react-empty-state/index.css';
@import '@ciscodesignsystems/cds-react-footer/index.css';
@import '@ciscodesignsystems/cds-react-divider/index.css';
@import '@ciscodesignsystems/cds-react-header/index.css';
@import '@ciscodesignsystems/cds-react-heading/index.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
